{% autoescape off %}
Olá,

Recebemos um pedido para redefinir a sua palavra-passe para a sua conta no BizManager.

Para redefinir a sua palavra-passe, por favor clique no link abaixo:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este link só pode ser usado uma vez. Se precisar redefinir a sua palavra-passe novamente, visite {{ protocol }}://{{ domain }} e solicite uma nova redefinição.

Se não foi você que solicitou esta redefinição, pode ignorar este email com segurança.

Cumprimentos,
Equipa BizManager
{% endautoescape %}